.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $m-size;
  flex-direction: column;

  @include pc {
    margin-bottom: $l-size;
    flex-direction: row;
  }

  &__item {
    margin-right: $s-size;

    @include pc {
      margin: 0 $s-size 0 0;
    }
  }
}
